/* Utilidades responsive */
.mobile-only {
  display: block;
}

.desktop-only {
  display: none;
}

@media (min-width: 860px) {
  .mobile-only {
    display: none;
  }

  .desktop-only {
    display: block;
  }
}
